@page "/"

<PageTitle>Blob Storage App Home</PageTitle>

<h1>Blob Storage App Home</h1>

<p>This simple app demonstrates uploading files to Azure Blob Storage and listing the files in a container.</p>

<div class="alert alert-warning">
  <strong>Warning:</strong> The app is created for demo purposes and not intended for production use.
</div>

<div class="alert alert-info">
  <strong>Note:</strong> Visit GitHub repository for the source code and more information about thes app: <a href="https://github.com/krbar/BlobStorageApp" class="alert-link" target="_blank">BlobStorageApp</a>.
</div>
